In [3]:
print('algo')

algo

1. Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
a = 10
print(a)

10

2. Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

In [3]:
type(8.5)

float

3. Imprimir el tipo de dato de la variable creada en el punto 1

In [6]:
type(a)
print(type(a))

<class 'int'>

4. Crear una variable que contenga tu nombre

In [7]:
Mi_Nombre = 'César Cardona'

5. Crear una variable que contenga un número complejo

In [8]:
Nro_Complejo = 1j

6. Mostrar el tipo de dato de la variable crada en el punto 5

In [9]:
type(Nro_Complejo)

complex

7. Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [10]:
Nro_Pi =  3.1416

8. Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

R/ No es lo mismo, una variable queda con un valor tipo cadena (por las comillas) y la otra variable con un valor tipo booleano.

In [11]:
Vlr_True_C = 'True'
Vlr_True_B = True

9. Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [15]:
print(type(Vlr_True_B))
print(type(Vlr_True_C))
print('La variable Vlr_True_B es del tipo', type(Vlr_True_B), 'La variable Vlr_True_C es del tipo', type(Vlr_True_C) )

<class 'bool'>
<class 'str'>
La variable Vlr_True_B es del tipo <class 'bool'> La variable Vlr_True_C es del tipo <class 'str'>

10. Asignar a una variable, la suma de un número entero y otro decimal

In [16]:
Var_Ent_mas_Dec = 10 + 10.5

11. Realizar una operación de suma de números complejos

In [19]:
print(1j + 2j)
VC1 = 1 + 2j
VC2 = 5 + 3j
print(VC1 + VC2)

3j
(6+5j)

12. Realizar una operación de suma de un número real y otro complejo

In [20]:
VC3 = Var_Ent_mas_Dec + VC1
print(VC3)

(21.5+2j)

13. Realizar una operación de multiplicación

In [21]:
print(10 * 8)

80

14. Mostrar el resultado de elevar 2 a la octava potencia

In [22]:
print(2**8)

256

15. Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [24]:
Var_Cociente = 27 / 4
print(Var_Cociente)

6.75

16. De la división anterior solamente mostrar la parte entera

In [29]:
print(27 // 4)

6

17. De la división de 27 entre 4 mostrar solamente el resto

In [30]:
print(27 % 4)

3

18. Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [31]:
print(4 * (27 // 4) + (27 % 4))

27

19. Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [32]:
Nombre = 'César '
Apellido = 'Cardona'
print(Nombre + Apellido)

César Cardona

20. Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

R/ El resultado da falso porque son variables de diferente tipo, una es una cadena y la otra un entero, al compararlas el resultado es false.

In [34]:
print('2' == 2)

False

21. Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [37]:
print(int('2') + 2)
print('2' + str(2))

4
22

22 ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

R/ Porque los decimales no se separan con (coma) sino con (punto)

In [38]:
a = float('3,8')

ValueError: could not convert string to float: '3,8'

23. Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [41]:
Vlr_3 = 3
Vlr_3 -= 1
print(Vlr_3)

2

24. Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [42]:
1 << 2

4

¿Por qué da ese resultado?
Son operadores de desplazamiento de bits que existen en muchos lenguajes de programación principales, << es el desplazamiento a la izquierda y >> es el desplazamiento a la derecha.

Sistema Binario:
El sistema binario, también llamado sistema diádico​ en ciencias de la computación, es un sistema de numeración en el que los números son representados utilizando únicamente dos cifras: 0 y 1.

25. Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

¿Por qué no está permitido?
No esta permitido porque no se pueden sumar dos constantes de diferente tipo, en este caso una es un entero y la otra na cadena

¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?
Si arrojaria el mismo resultado en este caso, porque estaría sumando dos constantes.

In [44]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26. Realizar una operación válida entre valores de tipo entero y string

In [46]:
print(2 + int('2'))

4